<!-- <p>home-page works!</p> -->
<
<div class="home-links">
  <a routerLink="/coffees">
    <img src="../../../assets/images/coffees.jpg" alt="All Coffees">
    <span class="description">A variety of coffee blends to suit all tastes</span>
    All Coffees
  </a>
  <a routerLink="/random-coffee">
  <img src="../../../assets/images/random-coffee.jpg" alt="Random Coffee">
  <span class="description">Discover a new coffee blend chosen at random</span>
  Random Coffee
</a>
<a routerLink="/new-coffee">
  <img src="../../../assets/images/new-coffee.jpg" alt="New Coffee">
  <span class="description">Explore our latest addition to the coffee range</span>
  New Coffee
</a>
  </div>
  