<!-- <div class="single-coffee-container">
    <img [src]="coffee.image" alt="{{ coffee.name }}">
    <h2>{{ coffee.name }}</h2>
    <p>{{ coffee.tagline }}</p>
    <p>First Roasted: {{ coffee.first_roasted }}</p>
    <p>Strength Level: {{ coffee.strength_level }}</p>
    <p>Description: {{ coffee.description }}</p>
    <p>Contributed By: {{ coffee.contributed_by }}</p>
  </div>
   -->

   <app-header-home></app-header-home> 
   <div class="single-coffee-container">
    <img [src]="coffee.image_url" alt="{{ coffee.name }}" class="coffee-image">
    <h2>{{ coffee.name }}</h2>
    <p>{{ coffee.tagline }}</p>
    <p>First Roasted: {{ coffee.first_roasted }}</p>
    <p>Strength Level: {{ coffee.strength_level }}</p>
    <p>Description: {{ coffee.description }}</p>
    <p>Contributed By: {{ coffee.contributed_by }}</p>
  </div>
  

   <!-- <div *ngIf="coffee" class="coffee-details-container">
    <h2 class="coffee-details-heading">Coffee Details</h2>
    <h3 class="coffee-name">{{ coffee.name }}</h3>
    <p><strong>Tagline:</strong> {{ coffee.tagline }}</p>
    <p><strong>Strength Level:</strong> {{ coffee.strength_level }}</p>
    <p><strong>Description:</strong> {{ coffee.description }}</p>
    <p><strong>Contributed by:</strong> {{ coffee.contributed_by }}</p>
  </div> -->