<!-- <div class="single-coffee-container">
    <img [src]="coffee.image" alt="{{ coffee.name }}">
    <h2>{{ coffee.name }}</h2>
    <p>{{ coffee.tagline }}</p>
    <p>First Roasted: {{ coffee.first_roasted }}</p>
    <p>Strength Level: {{ coffee.strength_level }}</p>
    <p>Description: {{ coffee.description }}</p>
    <p>Contributed By: {{ coffee.contributed_by }}</p>
  </div>
   -->

   <!-- <app-header-home></app-header-home> -->
   <div class="single-coffee-container">
    <img [src]="coffee.image_url" alt="{{ coffee.name }}" class="coffee-image">
    <h2>{{ coffee.name }}</h2>
    <p>{{ coffee.tagline }}</p>
    <p>First Roasted: {{ coffee.first_roasted }}</p>
    <p>Strength Level: {{ coffee.strength_level }}</p>
    <p>Description: {{ coffee.description }}</p>
    <p>Contributed By: {{ coffee.contributed_by }}</p>
  </div>
  